td {
				border: thick solid #000000;
}
Table {
				border: thick solid #000000;
}
h1 {
				font-family: "Times New Roman", Times, serif;
				font-size: 30px;
}
hs {
				font-family: "Times New Roman", Times, serif;
				font-size: 18px;
}
h3 {
				font-family: "Times New Roman", Times, serif;
				font-size: 16px;
}
body {
				background-color: #33FBA6;
}
